
body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive;
    background-image: url('IMG_3140.jpeg');
    background-size: cover;
    background-position: center;
}

.boas-vindas 
{
    padding: 40px;
    font-family: 'Comic Sans MS', cursive;    
}

.linhadotempo-container {
    padding: 40px;
 }   

h1 {
    text-align: center;
    text-shadow: 0 2px 2px#c9a2b9;
    font-size: 36px;
    color: #ffb7db;
    margin-bottom: 60pxv;
}

.linhadotempo {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin: 40px 0;
}

.linhadotempo::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: 3px;
    background: #888;
    z-index: 0;
}

.item {
    width: 22%;
    text-align: center;
    position: relative;
    z-index: 2;
}

.item img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.descricao {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

p